@if(ismenuvisible){
<div>
    <mat-toolbar color="primary" class="mat-elevation-z8">
        <button (click)="drawer.toggle()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Angular 17 - Authentication</span>
        <span class="example-spacer"></span>
        <span>Welecome {{Loginuser}}</span>
        <button [matMenuTriggerFor]="lvl1master" mat-button><mat-icon>arrow_drop_down</mat-icon></button>
        <mat-menu #lvl1master="matMenu">
            <button mat-menu-item>UserProfile</button>
            <button routerLink="/resetpassword" mat-menu-item>ResetPassword</button>
            <button routerLink="/Login" mat-menu-item>Logout</button>
        </mat-menu>
    </mat-toolbar>
    <mat-drawer-container autosize>
        <mat-drawer #drawer opened="true" mode="side" position="start">
            <mat-nav-list>
                <mat-list-item>
                    <button mat-button routerLink=""><mat-icon>home</mat-icon>Home</button>
                </mat-list-item>
                @for(item of menulist;track item){
                <mat-list-item>
                    <button mat-button
                        routerLink="{{item.code}}"><mat-icon>verified_user</mat-icon>{{item.name}}</button>
                </mat-list-item>
                }
            </mat-nav-list>
        </mat-drawer>
        <mat-drawer-content>
            <div style="text-align: center;min-height: 600px;">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
}@else{
<div style="text-align: center;min-height: 600px;">
    <router-outlet></router-outlet>
</div>
}